<#import "/spring.ftl" as spring/>
<!DOCTYPE html>
<html>
<head>
<#include "/include/header.html"/>
<link rel="stylesheet" 
  href="/webjars/summernote/0.8.9/dist/summernote.css">
<title>Signup</title>
<style>
.loader {
	z-index:1;
	position:absolute;
	top:30%;
	left:50%;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
</style>
</head>
<body>
<div id="loader"></div>	
<#include "/include/nav.html"/>
	<div class="container">
		<form action="/member/signup" method="post" 
		      class="form form-horizontal">
		      <@spring.bind "member.id"/>
		      <div class="form-group">
		      	<label for="" class="control-label col-sm-2">ID</label>
		      	<div class="col-sm-8">
		      		<input type="text"
		      			   id="${spring.status.expression}" 
		      			   name="${spring.status.expression}" 
		      			   class="form-control"
		      			   value="${spring.status.value?default('')}"/>
     				<span class="error">${spring.status.errorMessages[0]?default('')}</span>
		      	</div>
		      	<div class="col-sm-2">
		      		<button type="button"
		      			onclick="dupcheck()"
      					class="btn btn-default btn-block">중복확인</button>
		      	</div>
		      </div>
		      <@spring.bind "member.password"/>
		      <div class="form-group">
		      	<label for="" class="control-label col-sm-2">Password</label>
		      	<div class="col-sm-5">
		      		<input type="password"
		      			   name="${spring.status.expression}" 
		      			   class="form-control"
		      			   value="${spring.status.value?default('')}"/>
     				<span class="error">${spring.status.errorMessage?default('')}</span>
		      	</div>
		      	<@spring.bind "member.passwordConfirm"/>
		      	<div class="col-sm-5">
		      		<input type="password"
		      			   name="${spring.status.expression}" 
		      			   class="form-control"
		      			   value="${spring.status.value?default('')}"
		      			   placeholder="패스워드 확인"/>
	      			<span class="error">${spring.status.errorMessage?default('')}</span>
		      	</div>
		      </div>
		      <@spring.bind "member.name"/>
		      <div class="form-group">
		      	<label class="control-label col-sm-2">Name</label>
		      	<div class="col-sm-10">
		      		<input type="text" 
		      			   name="${spring.status.expression}"
		      			   class="form-control"
		      			   value="${spring.status.value?default('')}" />
		      		<span class="error">${spring.status.errorMessage?default('')}</span>
		      	</div>
		      </div>
		      <@spring.bind "member.email"/>
		      <div class="form-group">
		      	<label class="control-label col-sm-2">Email</label>
		      	<div class="col-sm-5">
		      		<input type="text"
		      			   id="${spring.status.expression}"
		      			   name="${spring.status.expression}"
		      			   class="form-control"
		      			   value="${spring.status.value?default('')}" />
		      		<span id="email-error" class="error">${spring.status.errorMessage?default('')}</span>
		      	</div>
		      	<div class="col-sm-2">
		      		<button class="btn btn-default btn-block"
		      				type="button"
		      		        onclick="emailCertify(this)">인증메일 발송</button>
		      	</div>
		      	<@spring.bind "member.emailCode"/>
		      	<div class="col-sm-3">
		      		<input type="text" 
		      		       name="${spring.status.expression}"
		      		       class="form-control"
		      		       value="${spring.status.value?default('')}"
		      		       placeholder="인증코드 입력" />
		      		<span class="error">${spring.status.errorMessage?default('')}</span>
		      	</div>
		      </div>
		      <div class="form-group">
		      	<@spring.bind "member.gender"/>
		      	<label class="control-label col-sm-2">Gender</label>
		      	<div class="col-sm-10">
		      		<label for="" class="radio-inline">
		      			<input type="radio" 
		      				   name="${spring.status.expression}" 
		      				   value="m"/>Male
		      		</label>
		      		<label for="" class="radio-inline">
		      			<input type="radio" 
		      				   name="${spring.status.expression}" 
		      				   value="f"/>Female
		      		</label>
		      		<span class="error">
		      			${spring.status.errorMessage?default('')}
	      			</span>
		      	</div>
		      </div>
		      <div class="form-group">
		      	<div class="col-sm-10 col-sm-offset-2">
		      		<button type="submit" 
		      				class="btn btn-default btn-block">submit</button>
		      	</div>
		      </div>
		</form>
	</div>
<#include "/include/footer.html"/>
<script src="/webjars/summernote/0.8.9/dist/summernote.min.js"></script>
<script src="/webjars/summernote/0.8.9/dist/lang/summernote-ko-KR.js"></script>
<script>
	$("#content").summernote({
		lang:"ko-KR",
		tabsize:2,
		height:150,
		minHeight:100,
		maxHeight:200
	});
	
	function dupcheck(){
		$.ajax({
			url:"/member/dupcheck",
			type:"post",
			data:{id:$("#id").val()},
			success:function(data){
				if(data == 'y'){
					alert("존재하는 아이디 입니다");
				}else{
					alert("사용 가능한 아이디 입니다");
				}
			}
		});
	}
	function emailCertify(btn){
		//버튼비활성화
		$(btn).attr("disabled", "disabled");
		//로딩바 시작
		$("#loader").addClass('loader');
		$.ajax({
			url:"/member/emailcertify",
			type:"post",
			data:{email:$("#email").val()},
			success:function(data){
				//버튼활성화
				$(btn).removeAttr("disabled");
				//로딩바 종료
				$("#loader").removeClass('loader');
				if(data == 'null'){
					$("#email-error").text("이메일을 입력해 주세요");
				}else if(data == 'incorrect'){
					$("#email-error").text("이메일 형식이 올바르지 않습니다");
				}else if(data == 'duplicated'){
					$("#email-error").text("이미 가입되어있는 이메일 주소입니다");
				}else if(data == 'error'){
					$("#email-error").text("서버에 오류로 인해 이메일 발송을 실패했습니다");					
				}else{
					alert("인증메일을 전송했습니다\n 코드를 입력해 주세요");
					$("#email-error").text("");				
				}
			}
		});
	}
</script>
</body>
</html>



